model_list:
  - model_name: qwen-30b
    litellm_params:
      model: openai//models/Qwen/Qwen3-30B-A3B-Instruct-FP8
      api_base: http://172.26.0.1:8000/v1
      api_key: sk-dummy-token

  - model_name: /qwen-30b
    litellm_params:
      model: openai//models/Qwen/Qwen3-30B-A3B-Instruct-FP8
      api_base: http://172.26.0.1:8000/v1
      api_key: sk-dummy-token

  - model_name: /models/Qwen/Qwen3-30B-A3B-Instruct-FP8
    litellm_params:
      model: openai//models/Qwen/Qwen3-30B-A3B-Instruct-FP8
      api_base: http://172.26.0.1:8000/v1
      api_key: sk-dummy-token

litellm_settings:
  drop_params: true

general_settings:
  master_key: sk-1234
  set_verbose: true
